<div class="container justify-content-center">

  <form [formGroup]="productForm" (ngSubmit)="submit()">

    <!-- Product Name -->
    <div class="mt-5">
      <label class="form-label" for="txt-product-name">Product Name</label>
      <input formControlName="name" class="form-control" id="txt-product-name" type="text" />
    </div>

    <p *ngIf="productForm.get('name')?.hasError('required') && productForm.get('name')?.touched" style="color: red;">Name Not Provided</p>
    <p *ngIf="productForm.get('name')?.hasError('minlength') && productForm.get('name')?.touched" style="color: red;">Name Should Be At Least 3 Characters</p>
    <p *ngIf="productForm.get('name')?.hasError('maxlength') && productForm.get('name')?.touched" style="color: red;">Name Should Be At Most 10 Characters</p>

    <!-- Description -->
    <div class="mt-3">
      <label class="form-label" for="txt-product-description">Product Description</label>
      <input formControlName="description" class="form-control" id="txt-product-description" type="text" />
    </div>

    <p *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" style="color: red;">Description Not Provided</p>

    <!-- Price -->
    <div class="mt-3">
      <label class="form-label" for="txt-product-price">Product Price</label>
      <input formControlName="price" class="form-control" id="txt-product-price" type="number" />
    </div>

    <p *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched" style="color: red;">Price Not Provided</p>

    
    
    <!-- <div class="mt-3">
      <label class="form-label" for="txt-product-email">Product Email</label>
      <input formControlName="email" class="form-control" id="txt-product-email" type="email" />
    </div>
    
    <p *ngIf="productForm.get('email')?.invalid && productForm.get('email')?.touched" style="color: red;">Provide a Valid Email</p>

  
    <div class="mt-3">
      <label class="form-label" for="txt-product-nic">NIC</label>
      <input formControlName="nic" class="form-control" id="txt-product-nic" type="text" (input)="onNicInput($event)"/>
    </div>

    <p *ngIf="productForm.get('nic')?.invalid && productForm.get('nic')?.touched" style="color: red;">Provide a Valid NIC (e.g., 123456789V)</p>
    <p *ngIf="nicValue && isValidNic(nicValue)" style="color: red;">NIC is not valid (custom check)</p>


    <div class="mt-3">
    <input type="text" minlength="0" maxlength="100">
    <input type="number" min="0" maxl="100">
    </div> -->

 
    <!-- Submit -->
    <div class="mt-3 d-flex gap-3">
      <button type="submit" class="btn btn-primary" [disabled]="productForm.status=='INVALID'">Save</button>
      <button (click)="reset()" class="btn btn-secondary">Clear</button>
    </div>

  </form>

</div>
